body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.each-home-image {
  height: 200px;
  width:200px;
  object-fit:cover;
}

.restaurant-detail-image {
  height:600px;
  width:100%;
  object-fit:cover;
}

.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color:#ff330081; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
  color:white;
  text-align: center;
}

.side-bar h4 {
  text-decoration: underline;
}


.each-map {
  height:100px;
  width:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.login-page {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  padding-top: 10%;
  background-size: cover;
  height: 100vh;
}

.register-page {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  padding-top: 10%;
  background-size: cover;
  height: 100vh;
}

.register-page h2, h3  {
  color:yellow;
}

.restaurant-detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.restaurant-detail h4 {
  background-color: #ed2553;
  padding: 10px;
  color:white;
}

.profile-page-content {
  text-align: center;
  padding-top: 100px;
}

.profile-page {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
  background-size: cover;
}

.profile-name {
  border: solid white;
  border-color: red;
  background: rgb(37, 32, 32);
  color:yellow;
  margin-top: 10px;
}

.profile-image {
  border:solid;
  border-color: white;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.liked-restaurants-list {
  border: double black;
  border-color: red;
  background: rgb(37, 32, 32);
  color:yellow;
}

.friend-list {
  background-image: url("https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  height: 100vh;
}

.friend-list-content {
  padding-top: 100px;
  text-align: center;
  color:yellow;
}

.restaurant-comments {
  border: double rgb(116, 35, 35);
  border-width: 5px;
  width:90%;
  align-self: center;
}

.comment-submit{
  /* width:90%; */
  margin-bottom: 50px;
}

.home-images{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  white-space: nowrap;
  max-width: 90vw;
  min-width: 100vh;
  margin-right: 200px;
  margin-left: 100px;
}

.home-images img{
  margin-left: 5px;
}



.home-container{
  background-image: url(./image/abc.png);
  /* background: rgb(230, 80, 80); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  padding-top: 50px;
  display: flex;
  height:100vh;
  flex-direction: column;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
  margin-left: 10px;
}

li:hover {
  background-color: rgb(128, 4, 0);
  zoom: 1.5;
}

.home-map{
  padding-left: 250px;
  padding-bottom:20px;
  padding-top: 20px;
}

.home-each-image{
  position: relative;
  display: inline-block;
}

.each-home-image:hover{
  opacity: 0.8;
  zoom: 1.1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
  cursor: pointer;
}
.home-each-image .image-caption{
  width:190px;
  align-self: center;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 10px;
  border: solid 2px;
  background: grey;
  /* right: 0; */
  top: 0; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  color: white;
  /* width: 200px; Set the width of the positioned div */
}


.restaurant-detail-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:500px; 
  /* align-content: center; */
  /* justify-content: center; */
  border :1px double red;
}

.map-and-content{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


  .restaurant-user-button {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: double black 2px;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    /* padding: 20px; */
    width: 80px;
    height:40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  





  /* like button */


  .like-content {
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
    padding: 40px 0 0;
    font-size: 18px;
    border-top: 10px dashed #eee;
    text-align: center;
}
.like-content span {
	color: #9d9da4;
	font-family: monospace;
}
.like-content .btn-secondary {
	  display: block;
	  margin: 40px auto 0px;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

.delete-comment-button {
  margin-left: 5px;
  background-color: red;
}


.marker-gmap:hover{
  cursor:crosshair;

}